/* Estilo del contenedor principal */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f5f2; /* Fondo crema */
    font-family: "SF Pro Text", sans-serif;
    color: #333;
  }
  
  /* Estilo del logo */
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 1px;
  }
  
  /* Estilo del texto de redirección */
  .redirectText {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  
  /* Animación de los puntos suspensivos */
  .ellipsis::after {
    content: ".";
    animation: dots 2s steps(3, end) infinite;
  }
  
  /* Definición de la animación */
  @keyframes dots {
    0% {
      content: ".";
    }
    33% {
      content: "..";
    }
    66% {
      content: "...";
    }
    100% {
      content: "";
    }
  }
  